.commentsComponent {
    max-width: 800px;
    margin: 0 auto;
    padding: 2em;
    font-family: sans-serif;
    /*
    & :last-child {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    */
}

.postForm {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.postItem{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.postTitle {
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.postInfo {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 2em;
    color: #555;
    font-size: 0.9em;    
}

.comentarioForm {
    background-color: #f9f9f9;
    padding: 2em;
    border-radius: 8px;
    margin-bottom: 2em;
}

.formGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.formGroup label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.inputContainer {
    display: flex;
    flex-direction: column;
}

.inputField {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}

textarea.input-field {
    min-height: 100px;
    resize: vertical;
}

.labelError {
    color: #d9534f;
    font-size: 0.8em;
    margin-top: 5px;
    min-height: 1em;
}

.buttonContainer button{
    width: 100%;
}

.comentarioForm button {
    margin-right: 10px;
}

.comentariosList {
    margin-top: 2em;
}
