.App {
  text-align: center;
}

.btn-success {
  background-color: #2563eb;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.btn-success:hover{
  background-color: #437af0;
}

.input-field{
  flex: 1 1;
  padding: 10px 5px;
  border-radius: 3px;
  border-style: solid;
  border-width: thin;
}

.label-error{
    color: red;
    font-size: 12px;
    margin-top: 4px;
    width: 100% !important;
}

/*
    padding: 8px 16px;
    border-radius: 5px;
    border-width: thin;
    background: #0737a1cc;
    color: white;
    */