.spinnerContent, 
.spinnerBackend{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.spinnerContent{
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinnerBackend{
    background-color: rgb(0 0 0 / 54%);
}

